*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header section  */
.header{
    display: flex;
    justify-content: space-between;
}
/* about section  */
 .about-header h1 a{
    text-align: left;
    text-decoration: none;
    font-size: 2.5rem;
   
}
.about-link ul li {
       list-style-type: none;
}